/* DOKUMENT STYLŮ K ÚPRAVĚ */

.main {
   gap: 1em;
   display: flex;
   flex-wrap: wrap;
   min-width: 480px;
   align-content: center;
   justify-content: center;
}
.ytv {
    display: flex;
    flex-direction: column;
    gap: 10px
}
.ytv__bottom {
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
}
.ytv__left {
    align-self: flex-start;
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}
.ytv__right {
    align-self: flex-end;
    flex-grow: 1;
    display: flex;
    justify-content:flex-end;
    gap: 20px;
}
.profile {
   display: flex;
   gap: 20px;
}
.profile__text { 
   display: flex;
   flex-flow: column;
   gap: 5px
}
.icon {
   align-self: center;
}
.btn--flex {
    
}